@import '~src/styles/colors';

.carrot-ext__tooltip {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  padding: 10px;
  background: rgba(0,0,0, 0.6);
  color: $white;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  z-index: 9999;
}